name: Deploy
run-name: Deploy site
on: [push]
jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/actions'
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5
      - name: Install dependencies
        run: npm install
      - name: deploy
        run: npm run deploy
      - run: "echo 'Status: ${{ job.status }}.'"
